.form-page{

    .container{

        &.form{
            background: #FFFFFF;
            margin-top: 35px;
            padding: 25px;
            border-radius: 5px;
            position: relative;

            .logout{
                position: absolute;
                top: 0px;
                right: 0px;
                font-size: 25px;
                display: block;
                margin-top: 25px;
                margin-bottom: 10px;
            }

            h3.flight{
                color: $brand-color;
                margin-top: -9px;
            }

            .form-row{
                margin-bottom: 15px;

                & > div > label{
                    display: block;
                }

                %inputs{
                    width: 100%;
                    padding: 3px;
                    display: block;
                }

                input{
                    @extend %inputs;
                }

                select{
                    @extend %inputs;
                    cursor: pointer;
                }

                &.passengers{
                    position: relative;
                    margin-bottom: 25px;

                    #reservationbundle_reservation_passengers{

                        input{
                            visibility: hidden;
                            position: absolute;

                            &:checked + label{
                                background-color: $brand-color;
                                color: #FFFFFF;
                            }
                        }

                        label{
                            display: block;
                            padding: 9px;
                            border: 1px solid $brand-color;
                            cursor: pointer;
                            user-select: none;
                        }
                    }

                    .passenger-form-holder{
                        border: 1px solid $brand-color;
                        padding: 15px;
                        display: none;

                        &.open{
                            display: block;

                            & + button{
                                display: none;
                            }
                        }

                        button{
                            margin-right: 15px;
                        }
                    }
                }

                &.seats{
                    display: none;
                }

            }

            .seats-form{

                .seat{
                    float: left;

                    input{
                        visibility: hidden;
                        position: absolute;

                        &:checked + label{
                            color: #FFFFFF;
                            background-color: #FF5500;
                        }

                        &.success:checked + label{
                            background-color: $brand-color;

                            &.extra-price{
                                background-color: #FF0000;
                            }
                        }

                        &:disabled + label{
                            color: #FFFFFF;
                            border: 1px solid $background-color;
                            background-color: $background-color;
                            cursor: not-allowed;
                            opacity: 0.5;
                        }
                    }

                    label{
                        width: 50px;
                        height: 50px;
                        border: 1px solid $brand-color;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        text-align: center;
                        cursor: pointer;
                        margin-right: 15px;
                        margin-bottom: 25px;
                        transition: background-color, 0.5s;

                        &.extra-price{
                            border: 1px solid #FF0000;
                        }
                    }
                }

                .row-number{
                    width: 50px;
                    height: 50px;
                    float: left;
                    clear: left;
                    line-height: 50px;
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }
    }
}